{% block album_list %}
    <h3>Album List</h3>
    <p>
        {% trans %} tool.album_table_desc {% endtrans %}
    </p>

{#    Create table using create_table helper#}
    {{ create_table(
        {
            'id' : 'tableSymfonyDemoTool',
            'class' : 'table table-striped table-primary dt-responsive nowrap',
            'cellspacing' : '0',
            'width' : '100%'
        },
        tableColumns
        )|raw
    }}

{#    Initialize data table to make a pagination#}
    <div>
        <script type="text/javascript">
            $(document).ready(function() {
                {{ getDataTableConfiguration|raw }}
            });
        </script>
    </div>
{% endblock %}