{% block album_list %}
    <h3>Album List</h3>
    <p>
        {% trans %} tool.album_table_desc {% endtrans %}
    </p>

{#    Create table using melis helper#}
    {{ melis_helper('melisdatatable', 'createTable', symfonyTableConfig)|raw }}

{#    Create a modal that will allow us to update/create new album
      We are using one modal for both update and create, we just
      need to modify everything in the javascript to determine whether
      we are going to update or create a record
#}
    {{ create_modal(
        {'id': 'symfonyDemoToolAlbumModal'},
        {'id':'btn-save-album'}
    )|raw
    }}
{% endblock %}