{% block album_list %}
    <h3>{% trans %} tool_album_list {% endtrans %}</h3>
    <p>
        {% trans %} tool_album_table_desc {% endtrans %}
    </p>

{#    Create table using melis helper#}
    {{ melis_helper('melisdatatable', 'createTable', tableConfig)|raw }}

    {{ create_modal(modalConfig)|raw }}
{% endblock %}