<div class="bg-white symfony-demo-tool">
    <div class="me-heading border-bottom">
        <div class="row">
            <div class="me-hl col-xs-12 col-sm-8 col-md-9">
                <h1 class="content-heading">{% trans %}tool_title{% endtrans %}</h1>
                <p>{% trans %}tool_description{% endtrans %}</p>
            </div>
            <div class="me-hr col-xs-12 col-sm-4 col-md-3">
                <button class="btn btn-success" id="btn-new-album">
                    <i class="fa fa-plus"></i>
                    {% trans %}tool_add_album{% endtrans %}
                </button>
            </div>
        </div>
    </div>
    <div class="spacing-x2 innerAll">
        {% block body %}{% endblock %}
    </div>
</div>