{% block melis_lang_list %}
    <h3>{% trans %} tool_language_list {% endtrans %}</h3>
    <p>
        {% trans %} tool_lang_table_desc {% endtrans %}
    </p>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Language Locale</th>
            <th>Language Name</th>
        </tr>
        </thead>
        <tbody>
        {% for lang in lang_core_list %}
            <tr>
                <td>{{ lang['lang_locale'] }}</td>
                <td>{{ lang['lang_name'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}