{% extends '@MelisPlatformFrameworkSymfonyDemoToolLogic/base.html.twig' %}
{% block body %}
    <div class="symfony-demo-tool">
        {% include '@MelisPlatformFrameworkSymfonyDemoToolLogic/album.html.twig' %}
        {#<br>#}
        {% include '@MelisPlatformFrameworkSymfonyDemoToolLogic/language.html.twig' %}
    </div>
{% endblock %}